In [1]:
import plotly.plotly as py
from plotly.graph_objs import *
import pandas as pd
import math

my_cols=['c1','c2']
with open('radar_nis.txt') as f1:
    radar_nis_output = pd.read_table(f1, sep='\t', header=None, names=my_cols, lineterminator='\n')
    
radar_nis_output[0:10]

          c1             c2
0  std_a_ =6  std_yawdd_ =1
1       0.05        107.354
2       0.15        3.73649
3       0.25        1.00844
4       0.35        3.57524
5       0.45       0.109036
6       0.55        2.35121
7       0.65        1.63021
8       0.75       0.962332
9       0.85       0.996043

In [2]:
with open('lidar_nis.txt') as f2:
    lidar_nis_output = pd.read_table(f2, sep='\t', header=None, names=my_cols, lineterminator='\n')
    
lidar_nis_output[0:10]

          c1             c2
0  std_a_ =6  std_yawdd_ =1
1        0.1         1.5746
2        0.2        1.27517
3        0.3        1.14321
4        0.4       0.446481
5        0.5       0.424064
6        0.6        4.91782
7        0.7       0.159321
8        0.8         9.7291
9        0.9        3.83234

In [3]:
import plotly.offline as py
from plotly.graph_objs import *

radar_nis_output = radar_nis_output[2:]
lidar_nis_output = lidar_nis_output[1:]



#nis
radar_nis = Scatter(
    x=radar_nis_output['c1'],
    y=radar_nis_output['c2'],
    name = 'radar NIS'
)
lidar_nis = Scatter(
    x=lidar_nis_output['c1'],
    y=lidar_nis_output['c2'],
    name = 'lidar NIS'
)
radar_threshold = Scatter(
    x=[0, 25],
    y=[7.815, 7.815],
    mode = 'lines',
    name = 'Chi^2.050'
)
lidar_threshold = Scatter(
    x=[0, 25],
    y=[5.991, 5.991],
    mode = 'lines',
    name = 'Chi^2.050'
)

In [4]:
import plotly.plotly as py
from plotly.graph_objs import *

data = Data([radar_nis, radar_threshold])

py.iplot(data, filename = 'radar-nis')

In [5]:
import plotly.plotly as py
from plotly.graph_objs import *

data = Data([lidar_nis, lidar_threshold])

py.iplot(data, filename = 'lidar-nis')